/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* -------------------------------------------------------------------------- */
/* COLORS */
/* font color #212121
primary color : #445ae3
input feild border volor : #cdd8df
input feild placeholder color : #bbbfc4
grey font : #909ca8
help section :
backgound: #d0f2db
title: #32a578
details: #212121 */
/* -------------------------------------------------------------------------- */
/* Table of Content */
/*
- basic setup
- responsiveness
- helper class
- onboarding page content
- CUSTOM ELEMENT STYLE
- bootstrap modifications
*/
/* -------------------------------------------------------------------------- */
/*basic setup*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #212121;
    outline:0px !important;
    -webkit-appearance:none;
    appearance:none;
}
html {
}
body {
  background-color: #FFF;
  background-image: url('./assets/images/white logo icon.png');
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
}
::placeholder {
    color: #cdd8df;
    opacity: 1;
}

:-ms-input-placeholder {
   color: #cdd8df;
}

::-ms-input-placeholder {
   color: #cdd8df;
}
/* -------------------------------------------------------------------------- */
/* responsiveness */
@media screen and (min-width: 768px) {
  .ob-submit-subcontainer{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
  /* the title */
  #on-boarding .ob-page-header{
    background-image: none;
    margin: 0;
    padding: 0;
    text-align: left;
    height: auto;
    font-size: 1em;
    position: relative;
    left: 15px;
    font-weight: 500;
    width: 80vw;
  }
  .steps {
    padding: 0;
  }
  div#on-boarding {
    padding-top: 20px;
    padding-bottom: 120px;
  }
  /* photo upload */
  label.file__drop {
    border: none;
    font-size: 0.9em;
  }
  /* illustration */
  .illustration img {
    display: none;
  }

  /* submit button */
  div.ob-submit-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    padding: 25px 0px;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0px 2px 10px #bbbfc4;
  }
  #success {
    padding: 0px;
  }
  .submit-alert p{
    display: none;
  }
}
/* */


/* -------------------------------------------------------------------------- */
/* helper class */
.grey {
  color: #909ca8;
}
.grey-bold {
  color: #909ca8;
  font-weight: 500;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
input.form-input.error-field, textarea.error-field, .select select.error-field, #time-select select.error-field {
  border-color: #EA5C5D;
}

span.error-text{
  color: #EA5C5D;
  font-size: 0.9em;
  font-weight: 500;
}
label.label {
  font-size: 0.9em;
  font-weight: 500;
}
label.big-label {
  font-size: 1.1em;
  font-weight: 400;
}
label.sml-label {
  font-size: 0.8em;
  font-weight: 500;
}
label.label.sub-label{
  font-size: 0.8em;
  color: #909ca8;
  font-weight: 400;
  margin-top: 0;
  display: block;
  position: relative;
  top: -7px;
}
select option {
  text-transform: capitalize;
}
.sml-text{
  font-size: 0.9;
}

.list-bullet {
  height: 10px;
  width: 10px;
  margin-right: 25px;
  background-color: #445ae3;
  border-radius: 50%;
  display: inline-block;
}

.cross-sign {
  height: 10px;
  width: 10px;
  margin-right: 25px;
  background-image: url('./assets/images/cross-remove-sign.svg');
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}

.form-input {
  border-radius: 3px;
  border: 1.5px solid #cdd8df;
  padding: 15px 20px;
  font-size: 0.9em;
}
.form-input:hover {
  background-color: #f5f9fb;
}
.form-input:active, .form-input:focus{
  border-color: #445ae3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-input.active {
  border-color: #445ae3;
}
a.link{
  color: #445ae3;
}
.list-row {
  border-bottom: 1px solid rgba(187,191,196,0.3)
}
#white-btn {
  background-color: #fff;
  color: #445ae3;
  border: 1.5px solid #445ae3;
}
#white-btn:hover {
  color: #FFF;
  background-color: #445ae3;
}

/* -------------------------------------------------------------------------- */
/* onboarding page content */
#on-boarding{
  padding-top: 80px;
}
.ob-page-header{
  max-width: 480px;
  width: 100%;
  height: 110px;
  background-image: url('./assets/images/color logo icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding-top: 30px;
  font-size: 2.1em;
  font-weight: 400;
  margin: 0 auto;
}
/* progress */
#progress {
  font-size: 1.3em;
  padding: 50px 0px 0px 0px;
}
#progress li {
  list-style: none;
  color: #bbbfc4;
  cursor: pointer;
}
span.progress-num{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: #909ca8;
  padding: 2px 0px;
  margin: 0px 20px;
  border: 1px solid #bbbfc4;
}
#progress li.active{
  color: #212121;
}
#progress li.active span.progress-num{
  background-color: #445ae3;
  color: #fff;
  border: none;
}
.right-arrow img{
  width: 25px;
  height: auto;
}

/* progress bar  */
/* appears on top of responsive view */
#progress-bar {
  width: 100%;
  height: 3px;
  background-color: #bbbfc4;
}
#progress-percentage{
  font-size: 0.9em;
  color: #bbbfc4;
}
#progress-bar-steps{
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px auto;
  font-size: 1.1em;
}
#progress-bar-fill{
  width: 33.33%;
  height: 100%;
  background-color: #09c61c;
  transition: 0.3s ease-in-out;
}

/* steps */
/* form steps */
.steps {
  position: relative;
}
.steps:not(:first-of-type) {
  display: none;
}
.steps.slide-out{
  /* transform: translateX(-100%); */
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#step3{
  padding-bottom: 50px;
}

/* the form */
.ob-form {
  padding-top: 20px;
  position: relative;
}
/* file upload */
#upload-icon img {
  margin: 10px auto;
  width: 30px;
  height: auto;
}
#upload-icon img:nth-child(2) {
  width: 110px;
  height: 110px;
  margin: 0px auto;
  padding-top: 10px;
}
#file {
  display:none;
}
#file_nid {
  display:none;
}
.file__drop, .file__drop_nid {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  border: 1.5px dashed #445ae3;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.file__drop p span, .file__drop_nid p span{
  font-size: 0.8em;
}
#img-preview {
  height: 110px;
  width: 110px;
  margin-top: 10px;
}
#upload-btn {
  border: 1.5px solid #445ae3;
  width: 150px;
  padding: 8px;
  margin: 10px auto;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}
#upload-btn span {
  color: #445ae3;
}

/* service area */
/* the select for service area */
.selected-areas {
  margin-top: 10px;
}
.selected-areas li {
  list-style: none;
  text-transform: capitalize;
}

/* expertise */
/* expertise selection box */
.expertise {
  border: 1.5px solid #cdd8df;
  height: 65px;
  width: 19%;
  text-align: center;
  padding-top: 7px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0px;
}
.expertise:hover {
  background-color: #f5f9fb;
}
.expertise img {
  height: 30px;
  width: auto;
}
.expertise p {
  font-size: 0.8em;
  color: #909ca8;
  font-weight: 500;
}
.expertise.active {
  border-color: #445ae3;
  box-shadow: 0px 2px 5px 0px rgba(68, 92, 227, 0.6);
}
.ob-button {
  background-color: #fff;
}
.ob-button:hover {
  color: #FFF;
  background-color: #445ae3;
}

/* submit button */
.ob-submit {
  color: #FFF;
  background-color: #445ae3;
  padding: 15px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.6em;
}
.ob-submit-icon img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

/* submit alert */
.submit-alert-container {
  border: none;
}
.submit-alert {
  background-color: #d0f2db;
  position: relative;
}
.submit-alert p {
  font-size: 0.9em;
}
.submit-alert strong {
  color: #32a578;
}
.submit-alert img {
  width: 15px;
  height: auto;
  margin-right: 10px;
}
.submit-alert .down-arrow {
  position: absolute;
  top: 10px;
  right: 10px;
}
.submit-alert .down-arrow img {
  width: 20px;
  height: auto;
  transition: 0.3s;
}
.submit-alert .down-arrow img.up {
  transform: rotate(180deg);
}

/* success icon */
.success-icon img {
  width: 200px;
  height: auto;
  margin: 50px auto;
}
#success h3 {
  font-weight: 400;
  margin: 20px auto;
}
#success p {
  margin: 20px auto;
}

/* ILLUSTRATION */
.illustration {
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.illustration img {
  width: 100%;
  height: auto;
}
/* -------------------------------------------------------------------------- */
/* CUSTOM ELEMENT STYLE */
/* checkbox */
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}
.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    text-transform: capitalize;
}
.checkboxcheckmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #cdd8df;
    border-radius: 3px;
}
.checkboxcontainer:hover input ~ .checkboxcheckmark {
    background-color: #f5f9fb;
}
.checkboxcontainer input:checked ~ .checkboxcheckmark {
    background-color: #445ae3;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(68, 92, 227, 0.6);
}
.checkboxcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkboxcontainer input:checked ~ .checkboxcheckmark:after {
    display: block;
}
.checkboxcontainer .checkboxcheckmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* select */
.date {
  height: 70px;
}
.date .date-label {
  padding: 10px 0px;
  margin-bottom: none;
}
#time-select select{
  border: 1.5px solid #CDD8DF;
  padding: 15px 10px;
  font-size: 0.9em;
}
#time-select .down-arrow {
  right: 20px;
  padding: 13px 5px;
  width: 10px;
}
#time-select .down-arrow img{
  width: 15px;
  height: auto;
}

/* radio button */
.radio {
    display: inline-block;
    padding-left: 35px;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #cdd8df;
    box-sizing: border-box;
    border-radius: 50%;
}
.radio:hover input ~ .checkmark {
    background-color: #f5f9fb;
}
.radio input:checked ~ .checkmark {
    background-color: #445ae3;
    box-shadow: 0px 2px 5px 0px rgba(68, 92, 227, 0.6);
    border: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .checkmark:after {
    display: block;
}
.radio .checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}
/* custom select */
.select {
    position: relative;
    display: block;
    width: 100%;
    font-size: 0.9em;
}

.select select {
  width: 100%;
  display: inline-block;
  border: 1.5px solid #cdd8df;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline:none;
  line-height: 1.2;
  -webkit-appearance:none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 2px;
  padding: 15px 20px;
  text-transform: capitalize;
}
.select select:hover {
  background-color: #f5f9fb;
}
/* .select select option:nth-child(1) {
  color: #bbbfc4;
} */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .select select {
    padding-right:30px;
  }
}
.select select:focus {
  border: 1.5px solid #445ae3;
}
.select .down-arrow{
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  padding: 0;
  padding: 15px 20px;
  width: 20px;
  height: auto;
  pointer-events:none;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  color: #bbbfc4;
}
.select .down-arrow img{
  width: 20px;
  height: auto;
}
.no-pointer-events .select:after {
  content: none;
}
/* -------------------------------------------------------------------------- */
/* bootstrap modifications */
.form-control {
  outline: none;
}
